<h1 class="page-title">Estudiantes</h1>
<p class="page-subtitle">
  Administración de estudiantes registrados en el sistema
</p>

<!-- Barra superior -->
<div class="page-actions">
  <button
    mat-raised-button
    color="primary"
    (click)="crear()">
    <mat-icon>person_add</mat-icon>
    Nuevo estudiante
  </button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Estudiante </mat-header-cell>
    <mat-cell *matCellDef="let e"> {{ e.nombre }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notas">
    <mat-header-cell *matHeaderCellDef> Notas </mat-header-cell>
    <mat-cell *matCellDef="let e"> {{ e.cantidadNotas }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let e">
      <button
        mat-icon-button
        color="warn"
        [disabled]="e.cantidadNotas > 0"
        (click)="eliminar(e)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator
  [pageSize]="5"
  [pageSizeOptions]="[5]"
  showFirstLastButtons>
</mat-paginator>
