.layout-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background: #1c2022; // dark azul tipo Platzi
}

.content {
  padding: 24px;
  background: #020617;
  min-height: calc(100vh - 64px);
}
